html,
    body {
      margin: auto;
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      overflow: hidden;
    }

    /*.portrait canvas {
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-100%);
    }*/

    /*.desktop canvas {
      z-index: 2;
    }*/

    .content {
      width: 100%;
      margin: auto;
    }

    #overlayKindney {
      position: fixed;
      /* Sit on top of the page content */
      /*display: none;*/
      /* Hidden by default */
      width: 384px;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0;
      /*left: 0;*/
      right: -20%;
      bottom: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Black background with opacity */
      z-index: 4;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      /*text-align: center;
      align-items: center;*/
      padding: 50px 0;
      /*transition: all 2s linear;*/
      opacity: 0;
    }

    .show {
      display: block;
      opacity: 1;
    }

    #overlayReload {
      border-radius: 50px;
      position: absolute;
      /* Sit on top of the page content */
      display: block;
      /* Hidden by default */
      width: 100px;
      /* Full width (cover the whole page) */
      height: 100px;
      /* Full height (cover the whole page) */
      right: 5%;
      bottom: -50%;
      background-color: rgba(255, 165, 000, 0.8);
      /* Black background with opacity */
      z-index: 2;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      line-height: 100px;
      text-align: center;
    }

    #overlayID {
      border-radius: 20px;
      /* Sit on top of the page content */
      display: block;
      /* Hidden by default */
      width: 40px;
      /* Full width (cover the whole page) */
      height: 40px;
      /* Full height (cover the whole page) */
      background-color: rgba(255, 165, 000, 0.8);
      /* Black background with opacity */
      z-index: 2;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      line-height: 40px;
      text-align: center;
    }

    #overlayButton {
      padding: 20px;
      border-radius: 25px;
      position: absolute;
      /* Sit on top of the page content */
      display: none;
      /* Hidden by default */
      width: auto;
      /* Full width (cover the whole page) */
      height: auto;
      /* Full height (cover the whole page) */
      left: 10px;
      top: 10px;
      /* Black background with opacity */
      z-index: 2;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
    }

    #overlayDetect {
      padding: 20px;
      position: absolute;
      /* Sit on top of the page content */
      display: none;
      /* Hidden by default */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0.1px;
      /* Black background with opacity */
      z-index: 3;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      background-color: rgba(0, 0, 0, 0.8);
    }

    #overlayIntro {
      padding-left: 10%;
      position: absolute;
      /* Sit on top of the page content */
      display: block;
      /* Hidden by default */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0.1px;
      /* Black background with opacity */
      z-index: 3;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      background-color: rgba(72, 72, 72, 0.6);
      /*background-color: rgb(153, 101, 4, 0.8);*/
    }

    #plainBg {
      position: absolute;
      /* Sit on top of the page content */
      display: block;
      /* Hidden by default */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0.1px;
      /* Black background with opacity */
      z-index: 4;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      background-color: #FFFFFF
    }

    hr.style1 {
      border-top: 3px solid #ffffff;
    }

    #text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    img:hover {
      opacity: 0.5;
    }

    .loader {
      border: 16px solid #f3f3f3;
      /* Light grey */
      border-top: 16px solid rgba(255, 165, 000, 0.8);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    footer {
      border-radius: 50px;
      position: absolute;
      /* Sit on top of the page content */
      display: block;
      /* Hidden by default */
      width: 100px;
      /* Full width (cover the whole page) */
      height: 100px;
      /* Full height (cover the whole page) */
      right: 5%;
      bottom: 5%;
      /* Black background with opacity */
      z-index: 2;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
      line-height: 100px;
      text-align: center;
    }